@media only screen and (max-width: 1120px) {
  .hidden-items-second-nabvar {
    display: none;
  }

  .latest-news {
    grid-template-rows: 31px minmax(267px, 271px) minmax(247px, 271px);
  }
}

@media only screen and (max-width: 1024px) {
  #header-logo {
    height: 80px;
    display: inline-block;
  }

  #top-side-announcement {
    padding-left: 111px;
  }

  /* FEAT ARTICLES */

  .feature-articles {
    height: 59.5vh;
  }

  #main-art-title {
    font-size: 40px;
  }

  #feat-art-01 header p {
    margin-top: 16px;
  }

  .feat-cover-orange,
  #logo-cover,
  #feat-cover-date {
    visibility: hidden;
  }

  #second-art-title,
  #third-art-title {
    font-size: 20px;
  }

  /* FEAT ARTICLES */

  /* LATEST NEWS */

  .latest-news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 31px minmax(242px, 259px) 242px minmax(242px, 259px);
    grid-gap: 20px;
  }

  #latest-title {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  div[id^="latest"] {
    height: 154.3px;
  }

  /* LATEST NEWS */

  /* LATEST DEALS */

  .latest-deals {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 32px repeat(3, 1fr);
  }

  .latest-deals header {
    grid-column: 1/4;
  }

  .latest-deals h2 {
    display: block;
  }

}

@media only screen and (max-width: 920px) {
  .feature-articles {
    height: 49.5vh;
    grid-gap: 8px;
  }

  .latest-news {
    grid-template-rows: 31px repeat(3, minmax(217px, 231px));
  }

  div[id^="latest"] {
    height: 119.5px;
  }
}

@media only screen and (max-width: 768px) {
  #header-logo {
    height: 48px;
  }

  #first-navbar {
    display: none;
  }

  #second-navbar ul {
    display: none;
  }

  #second-nabvar-buttons {
    margin-left: auto;
  }

  #menu-button {
    display: inline-block;
  }

  #top-side-announcement {
    height: 60px;
    padding-left: 0;
    text-align: center;
    line-height: 60px;
  }

  /* FEAT ARTICLES */

  .feature-articles {
    height: auto;
    padding-top: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }

  #feat-art-01 {
    grid-row: 1/2;
  }

  #main-art-title {
    font-size: 20px;
  }

  .feature-articles article {
    min-height: 28vh;
  }

  /* FEAT ARTICLES */

  #partner-information {
    padding-top: 18px;
  }
  
  #partner-information span {
    display: block;
    line-height: 20px;
  }

  /* LATEST NEWS */

  .latest-news {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 14px;
  }

  div[id^="latest"] {
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 15px;
  }

  .latest-news article h2 {
    margin-top: 0;
  }
  
  /* LATEST NEWS */

  .latest-deals {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .latest-deals header {
    grid-column: 1/2;
  }

  .latest-deals article h2 {
    margin-top: 0;
  }
}