
nav {
  height: 110px;
  background-color: aqua;
}

#first-navbar {
  height: 32px;
  background-color: black;
}

#second-navbar {
  height: 48px;
  background-color: white;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
}

/* FEATURE ARTICLES */

.feature-articles {
  height: 496px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: minmax(489px, auto) minmax(240px, auto);
  overflow: hidden;
}

#feat-art-01 {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: red;
}

.feat-art-01-top {
  z-index: 4;
}

.feat-art-01-bottom {
  z-index: 5;
}

#feat-art-logo-cover {
  z-index: 3;
  position: absolute;
}

#feat-art-gradient-cover {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 496px;
  width: 758px;
  background-image: url("../images/cover-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#feat-art-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 496px;
  width: 758px;
  background-image: url("../images/feat-art-01.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#feat-art-02 {
  background-color: indigo;
}

#feat-art-03 {
  background-color: lawngreen;
}

@media only screen and (max-width: 1024px) {

}

/* FEATURE ARTICLES */

.latest-news {
  display: grid;
  width: 1192px;
  margin: 0 auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 646px;
  background-color: hotpink;
}


.latest-funding {
  height: 335px;
  background-color: brown;
}

.mix-articles {
  height: 1176px;
  background-color: darkgoldenrod;
}

.latest-deals {
  height: 640px;
  background-color: darkslategrey;
}

footer {
  height: 191px;
  background-color: gainsboro;
}