body {
  overflow-x: hidden;
}


nav {
  background-color: aqua;
}

#header-logo {
  display: none;
  float: left;
  width: 106px;
  height: 80px;
  background-color: red;
  position: fixed;
}

#first-navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: black;
}

#first-navbar li {
  display: inline;
  line-height: 32px;
  margin: 0 5px;
}

#first-navbar a {
  color: white;
  text-decoration: none;
}

#second-navbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: white;
}

#second-navbar li {
  display: inline;
  line-height: 48px;
  margin: 0 5px;
}

#second-navbar a {
  color: black;
  text-decoration: none;
}

.second-nabvar-buttons {
  width: 48px;
  height: 48px;
  background-color: inherit;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
}

/* FEATURE ARTICLES */

.feature-articles {
  height: 57.5vh;
  padding: 2px 8px 8px 8px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

#feat-art-01 {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: red;
}

#feat-art-02 {
  background-color: indigo;
}

#feat-art-03 {
  background-color: lawngreen;
}

@media only screen and (max-width: 1024px) {
  #header-logo {
    height: 80px;
    display: inline-block;
  }

  .feature-articles {
    height: 59.5vh;
  }
}

@media only screen and (max-width: 768px) {
  #header-logo {
    height: 48px;
  }

  #first-navbar {
    display: none;
  }

  #second-navbar ul {
    display: none;
  }

  #bu

  .feature-articles {
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }

  #feat-art-01 {
    grid-row: 1/2;
  }

  #feat-art-01,
  #feat-art-02,
  #feat-art-03 {
    min-height: 30vh;
  }
}

/* FEATURE ARTICLES */

.latest-news {
  display: grid;
  width: 1192px;
  margin: 0 auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 646px;
  background-color: hotpink;
}

.latest-funding {
  height: 335px;
  background-color: brown;
}

.mix-articles {
  height: 1176px;
  background-color: darkgoldenrod;
}

.latest-deals {
  height: 640px;
  background-color: darkslategrey;
}

footer {
  height: 191px;
  background-color: gainsboro;
}