
nav {
  height: 110px;
  background-color: aqua;
}

#first-navbar {
  height: 32px;
  background-color: black;
}

#second-navbar {
  height: 48px;
  background-color: white;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
}

.feature-articles {
  height: 496px;
  background-color: green;
}

.latest-news {
  height: 646px;
  background-color: hotpink;
}

.latest-funding {
  height: 335px;
  background-color: brown;
}

.mix-articles {
  height: 1176px;
  background-color: darkgoldenrod;
}

.latest-deals {
  height: 640px;
  background-color: darkslategrey;
}

footer {
  height: 191px;
  background-color: gainsboro;
}