@font-face {
  font-family: "Avalon Bold";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Avalon_Bold.ttf");
}


body {
  overflow-x: hidden;
}


nav {
  background-color: aqua;
}

#header-logo {
  display: none;
  float: left;
  width: 106px;
  height: 80px;
  background-color: red;
}

#header-logo div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

#header-logo img{
  height: 16px;
  width: 66px;
}

#first-navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: #131313;
  font-family: 'Source Sans Pro', 'Inter';
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

#first-navbar li {
  display: inline;
  line-height: 32px;
  margin: 0 5px;
}

#first-navbar a {
  color: #a0a0a0;
  text-decoration: none;
}

#second-navbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: white;
  padding-left: 15px;
  font-family: 'Electrolize', 'Rajdhani';
}

#second-navbar li {
  display: inline;
  line-height: 48px;
  margin: 0 5px;
}

#second-navbar a {
  color: #AAA;
  text-decoration: none;
}

#second-nabvar-buttons button{
  width: 48px;
  height: 48px;
  background-color: inherit;
}

#search-button {
  border: 1px solid #e7e7e7;
}

#search-button i{
  color: #bebebe;
  transform: rotate(90deg);
  font-size: 16px;
}

#menu-button {
  display: none;
  border: 1px solid #e7e7e7;
}

#menu-button i {
  font-size: 16px;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
  padding-left: 20px;
  line-height: 30px;
}

/* COLORS */

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  color: orangered;
}

/* COLORS */

/* FEATURE ARTICLES */

.feature-articles {
  height: 57.5vh;
  padding: 2px 8px 8px 8px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.feature-articles article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.feature-articles img {
  display: inline-block;
  vertical-align: text-top;
  height: 14px;
  width: 14px;
  margin-left: 8px;
  margin-right: 3px;
}

#feat-art-01 header {
  position: absolute;
  z-index: 5;
  width: 88%;
  left: 24px;
  bottom: 24px;
  font-weight: 900;
  color: white;
}

.feature-articles a {
  text-decoration: none;
}

.title-white {
  color: white;
}

.material-icons {
  font-size: 18px;
}

#feat-art-01 header p,
#feat-art-03 header p {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.feat-art-writers {
  color: rgba(255, 255, 255, 0.6);
}

.feat-art-writers:hover {
  color: white;
}

.feat-cover-gradient {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#feat-art-01 {
  grid-row: 1/3;
  grid-column: 1/2;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-796x448.jpg");
}

#main-art-title {
  font-family: "Avalon Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 48px;
  font-kerning: auto;
}

.feat-art-tag {
  font-family: 'Electrolize', 'Rajdhani';
  font-weight: 500;
}

#logo-cover {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60%;
  width: 55%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#feat-cover-date {
  z-index: 6;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.feat-cover-orange {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#second-art-title,
#third-art-title {
  font-family: "Avalon Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

#second-art-title,
#feat-art-03 header {
  z-index: 7;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 90%;
  display: block;
}

#feat-art-02 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/TNW-Conference-PanelImg.jpg");
}

.feat-art-tag-third {
  font-family: 'Electrolize', 'Rajdhani';
  font-size: 13px;
}

#feat-art-03 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-796x417.png");
}

/* FEATURE ARTICLES */

/* LATEST NEWS */

.latest-news {
  max-width: 1192px;
  margin: 60px auto 0 auto;
  padding: 24px 20px 0 20px;
  display: grid;
  grid-template-rows: 31px minmax(260px, 271px) minmax(251px, 260px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

#latest-title {
  grid-row: 1/2;
  grid-column: 1/-1;
}

#latest-title a {
  text-decoration: none;
  color: orangered;
  font-family: "Avalon Bold", sans-serif;
  font-weight: 900;
  font-size: 28px;
  font-weight: bolder;
}

.latest-news article h2,
.latest-deals article h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  word-spacing: 1px;
}

.news-articles p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(170, 170, 170);
}

.news-articles a {
  text-decoration: none;
  color: black
}

.news-articles a:hover {
  text-decoration: underline;
  color: orangered;
}

div[id^="latest"] {
  height: 135px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#latest-news-1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Snag_3eff9168-520x270.png");
}

#latest-news-2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-480x270.jpg");
}

#latest-news-3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-516x270.png");
}

#latest-news-4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-...-3-516x270.png");
}

#latest-news-5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design14-516x270.png");
}

#latest-news-6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/broken-piggy-bank-1472485404YoO-480x270.jpg");
}

#latest-news-7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Veo-33-514x270.jpg");
}

#latest-news-8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/vek6eka-540x270.jpg");
}

/* LATEST NEWS */

.latest-funding {
  height: 335px;
  background-color: brown;
}

.mix-articles {
  height: 1176px;
  background-color: darkgoldenrod;
}

.latest-deals {
  height: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.latest-deals header{
  grid-column: 1/5;
}

.latest-deals article {
  padding: 12px;
}

div[id^="latest-deals"] {
  height: 201px;
}

.latest-deals span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}


.price-line-through{
  color: rgb(170, 170, 170);
  text-decoration: line-through;
}

#latest-deals-1 {
  background-image: url("https://cdnp1.stackassets.com/d70d575440dc2303f6c0f578f6546cc872eb2b6b/store/bc8a1c7c761aaedca8d2eb395cf9fccb9e15aadd0d764277c827cda8ada8/sale_26801_primary_image.jpg");
}

#latest-deals-2 {
  background-image: url("https://cdnp1.stackassets.com/4877419c5210a138309370ee75cc76f1b948bb5e/store/9b289361df25a17bb05f05f17ff941efe4c16e642b95dbc007277b0c05ad/sale_26449_primary_image.jpg");
}

#latest-deals-3 {
  background-image: url("https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg");
}

#latest-deals-4 {
  background-image: url("https://cdnp0.stackassets.com/a1b45c57042cdef1f1b897016cfde23589de621d/store/55c827cf0a6ce820b885872694c7271be3c3e8f89e91e59b2637a866fffa/sale_25748_primary_image.jpg");
}

#latest-deals-5 {
  background-image: url("https://cdnp1.stackassets.com/5e5f466abcd436434edba4f58d25c704ad06af78/store/3d0d720d0781f975608acd54d86abf1c1f6687deaa14804680bdb3d23afb/sale_26533_primary_image.jpg");
}

#latest-deals-6 {
  background-image: url("https://cdnp1.stackassets.com/4c6357549bbe196eac7a2a550f3cf2a380f39e44/store/7d5851d962ea8a62a7e9939f0efebc686b69d83821b63060d3109048021b/sale_19399_primary_image.jpg");
}

#latest-deals-7 {
  background-image: url("https://cdnp3.stackassets.com/ca8ac4cd8e0107c4584d451a1fb0ac0e5ebe6151/store/be0f2ee1b78c4393e1053fa6de7e735a05a2c49710da62971b1193c1a649/sale_26370_primary_image.jpg");
}

#latest-deals-8 {
  background-image: url("https://cdnp1.stackassets.com/b5f373f63242539de2302f03aa9498601d6a2968/store/6214a05e495b0b0a9c306989bfa8053c49cc83f6c0cb7c9cae0e22124210/product_36559_product_shots3.jpg");
}

footer {
  height: 258px;
  background-color: gainsboro;
}

#page-contacts {
  background-color: #131313;
  height: 161px;
  text-align: center;
  padding-top: 30px;
}

#social-media {
  margin-bottom: 30px;
}

#social-media li {
  display: inline;
  margin: 0 6px;
}

#social-media i {
  color: white;
  height: 16px;
  width: 16px;
}

#social-media a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #555;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #555;
}

#social-media a:hover {
  background-color: #131313;
}

#more-information li {
  display: inline;
  margin: 0 5px;
}

#more-information a {
  color: white;
  text-decoration: none;
}

#partner-information {
  background-color: black;
  height: 97px;
  color: white;
  line-height: 97px;
  text-align: center;
}

#logo-tnw-footer {
  width: 37px;
  height: 10px;
}

#logo-stackpath {
  width: 65px;
  height: 10px;
}