body {
  overflow-x: hidden;
}


nav {
  background-color: aqua;
}

#header-logo {
  display: none;
  float: left;
  width: 106px;
  height: 80px;
  background-color: red;
}

#first-navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: black;
}

#first-navbar li {
  display: inline;
  line-height: 32px;
  margin: 0 5px;
}

#first-navbar a {
  color: white;
  text-decoration: none;
}

#second-navbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: white;
}

#second-navbar li {
  display: inline;
  line-height: 48px;
  margin: 0 5px;
}

#second-navbar a {
  color: black;
  text-decoration: none;
}

#second-nabvar-buttons button{
  width: 48px;
  height: 48px;
  background-color: inherit;
}

#menu-button{
  display: none;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
  padding-left: 5px;
}

/* FEATURE ARTICLES */

.feature-articles {
  height: 57.5vh;
  padding: 2px 8px 8px 8px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

#feat-art-01 {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-796x448.jpg");
  
}

.feat-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#logo-cover {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60%;
  width: 55%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.feat-cover-gradient {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#feat-art-02 {
  background-color: indigo;
}

#feat-art-03 {
  background-color: lawngreen;
}

@media only screen and (max-width: 1024px) {
  #header-logo {
    height: 80px;
    display: inline-block;
  }

  #top-side-announcement {
    padding-left: 111px;
  }
  
  .hidden-items-second-nabvar {
    display: none;
  }

  .feature-articles {
    height: 59.5vh;
  }

  .feat-cover-gradient,
  #logo-cover {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  #header-logo {
    height: 48px;
  }

  #first-navbar {
    display: none;
  }

  #second-navbar ul {
    display: none;
  }
  
  #second-nabvar-buttons {
    margin-left: auto;
  }

  #menu-button {
    display: inline-block;
  }

  #top-side-announcement {
    height: 60px;
    padding-left: 0;
    text-align: center;
    line-height: 60px;
  }

  .feature-articles {
    height: auto;
    padding-top: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }

  #feat-art-01 {
    grid-row: 1/2;
  }

  .feat-cover-gradient,
  #logo-cover {
    visibility: hidden;
  }

  .feat-art-cover {
    min-height: 28vh;
  }
}

/* FEATURE ARTICLES */

.latest-news {
  display: grid;
  width: 1192px;
  margin: 0 auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 646px;
  background-color: hotpink;
}

.latest-funding {
  height: 335px;
  background-color: brown;
}

.mix-articles {
  height: 1176px;
  background-color: darkgoldenrod;
}

.latest-deals {
  height: 640px;
  background-color: darkslategrey;
}

footer {
  height: 191px;
  background-color: gainsboro;
}