@font-face {
  font-family: "Avalon Bold";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Avalon_Bold.ttf");
}

body {
  overflow-x: hidden;
}

#header-logo {
  display: none;
  float: left;
  width: 106px;
  height: 80px;
  background-image: linear-gradient(to bottom right, #c8009a, #f94321);
}

#header-logo div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

#header-logo img {
  height: 16px;
  width: 66px;
}

#first-navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: #131313;
  font-family: 'Source Sans Pro', 'Inter';
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

#first-navbar li {
  display: inline;
  line-height: 32px;
  margin: 0 5px;
}

#first-navbar a {
  color: #a0a0a0;
  text-decoration: none;
}

#second-navbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: white;
  padding-left: 15px;
  font-family: 'Electrolize', 'Rajdhani';
}

#second-navbar li {
  display: inline;
  line-height: 48px;
  margin: 0 5px;
}

#second-navbar a {
  color: #AAA;
  text-decoration: none;
}

#second-nabvar-buttons button {
  width: 48px;
  height: 48px;
  background-color: inherit;
}

#search-button {
  border: 1px solid #e7e7e7;
}

#search-button i {
  color: #bebebe;
  transform: rotate(90deg);
  font-size: 16px;
}

#menu-button {
  display: none;
  border: 1px solid #e7e7e7;
}

#menu-button i {
  font-size: 16px;
}

#top-side-announcement {
  height: 30px;
  background-color: yellow;
  padding-left: 20px;
  line-height: 30px;
  font-family: 'Source Sans Pro', 'Inter';
  font-size: 14px;
}

/* COLORS */

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  color: orangered;
}

/* COLORS */

/* FEATURE ARTICLES */

.feature-articles {
  height: 57.5vh;
  padding: 2px 8px 8px 8px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.feature-articles article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.feature-articles img {
  display: inline-block;
  vertical-align: text-top;
  height: 14px;
  width: 14px;
  margin-left: 8px;
  margin-right: 3px;
}

#feat-art-01 header {
  position: absolute;
  z-index: 5;
  width: 88%;
  left: 24px;
  bottom: 24px;
  font-weight: 900;
  color: white;
}

.feature-articles a {
  text-decoration: none;
}

.title-white {
  color: white;
}

.material-icons {
  font-size: 18px;
}

#feat-art-01 header p,
#feat-art-03 header p {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.feat-art-writers {
  color: rgba(255, 255, 255, 0.6);
}

.feat-art-writers:hover {
  color: white;
}

.feat-cover-gradient {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#feat-art-01 {
  grid-row: 1/3;
  grid-column: 1/2;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-796x448.jpg");
}

#main-art-title {
  font-family: "Avalon Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  font-kerning: auto;
}

.feat-art-tag {
  font-family: 'Electrolize', 'Rajdhani';
  font-weight: 500;
}

#logo-cover {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60%;
  width: 55%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#feat-cover-date {
  z-index: 6;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.feat-cover-orange {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#second-art-title,
#third-art-title {
  font-family: "Avalon Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

#second-art-title,
#feat-art-03 header {
  z-index: 7;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 90%;
  display: block;
}

#feat-art-02 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/TNW-Conference-PanelImg.jpg");
}

.feat-art-tag-third {
  font-family: 'Electrolize', 'Rajdhani';
  font-size: 14px;
}

#feat-art-03 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-796x417.png");
}

/* FEATURE ARTICLES */

.sections-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
}

/* HEADER OF EACH SECTION */

.header-sections {
  margin: 0 15px;
  text-decoration: none;
  color: orangered;
  font-family: "Avalon Bold", sans-serif;
  font-weight: 900;
  font-size: 28px;
  font-weight: bolder;
}

.header-sections:hover {
  color: black;
  text-decoration: none;
}

.more-information-sections {
  font-family: 'Source Sans Pro', 'Inter';
  color: orangered;
}

/* LATEST NEWS */

.latest-news {
  margin: 60px auto 0 auto;
  padding: 24px 0 80px 0;
  display: grid;
  grid-template-rows: 31px repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

#latest-title {
  grid-row: 1/2;
  grid-column: 1/-1;
}

#latest-title a {
  margin-left: 0;
}

.latest-news article h2,
.latest-deals article h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  word-spacing: 1px;
}

.latest-news p a {
  color: rgb(170, 170, 170);
}

.latest-news p a:hover {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.news-articles p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(170, 170, 170);
}

.news-articles a {
  text-decoration: none;
  color: black;
}

.news-articles a:hover {
  text-decoration: underline;
  color: orangered;
}

div[id^="latest"] {
  height: 135px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#latest-news-1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Snag_3eff9168-520x270.png");
}

#latest-news-2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-480x270.jpg");
}

#latest-news-3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-516x270.png");
}

#latest-news-4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-...-3-516x270.png");
}

#latest-news-5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design14-516x270.png");
}

#latest-news-6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/broken-piggy-bank-1472485404YoO-480x270.jpg");
}

#latest-news-7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Veo-33-514x270.jpg");
}

#latest-news-8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/vek6eka-540x270.jpg");
}

/* LATEST NEWS */

.latest-funding {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 32px 1fr;
  padding-bottom: 56px;
}

.latest-funding header {
  grid-column: 1/5;
}

.latest-funding header > a {
  float: right;
}

.latest-funding article {
  padding: 12px;
  position: relative;
}

.latest-funding header h2 {
  display: inline-block;
  width: fit-content;
}

.latest-funding article h2 {
  background-color: #F42;
  height: 43px;
  padding-left: 80px;
  padding-right: 16px;
  line-height: 39px;
  color: white;
  font-family: "Avalon Bold", sans-serif;
}

.latest-funding article img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px;
}

.business-capital {
  height: 57px;
  background-color: rgba(255, 68, 34, 0.08);
  padding: 10px 16px 10px 80px;
  line-height: 20px;
}

.business-capital > :first-child {
  font-family: "Avalon Bold", sans-serif;
}

.business-capital > :nth-child(2) {
  font-family: 'Electrolize', 'Rajdhani';
  font-size: 11px;
  color: #AAA;
}

.tags-and-partners {
  padding: 16px;
  border-bottom: 1px solid #e7e7e7;
}

.tags-and-partners i {
  position: absolute;
  top: 6px;
  left: 0;
}

.tags-and-partners a {
  position: relative;
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 26px;
}

.tags-and-partners span {
  line-height: 25px;
  font-family: 'Source Sans Pro', 'Inter';
  font-size: 13px;
  color: #555;
}

.profit {
  padding: 10px 16px;
  line-height: 20px;
  font-family: 'Source Sans Pro', 'Inter';
  font-size: 12px;
}

.profit a {
  color: black;
  text-decoration: none;
  color: #555;
}

.profit span {
  color: #AAA;
}

/* MIX ARTICLES */

.mix-articles {
  margin: -12px -12px 40px -12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-shrink: 1;
}

.mix-articles section {
  padding: 12px;
  margin-bottom: 24px;
  flex-basis: 33.3%;
  max-width: 33.3%;
  line-height: 21px;
}

.mix-art-part01 a {
  margin: 0;
}

.mix-art-part02 {
  position: relative;
}

.mix-art-header {
  position: absolute;
  z-index: 11;
  left: 14px;
  bottom: 14px;
  width: 90%;
}

.mix-art-header * {
  text-decoration: none;
  color: white;
}

.header-top {
  font-family: 'Electrolize', 'Rajdhani', sans-serif;
  font-size: 13px;
}

.mix-art-title {
  font-family: 'Avalon Bold', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
}

.mix-art-title h3:hover {
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.mix-art-writer {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.mix-art-writer a {
  color: rgba(255, 255, 255, 0.6);
}

.mix-art-writer a:hover {
  color: white;
}

.mix-art-background-pic {
  position: relative;
  height: 0;
  padding-top: 75%;
  margin-top: 18px;
  margin-bottom: 2px;
  background-position: 50% 50%;
  background-size: cover;
}

.mix-art-part03 {
  height: 96px;
  width: 100%;
  padding-left: 15px;
  background-color: rgba(255, 68, 34, 0.06);
}

.mix-art-part03 p {
  width: 50%;
  padding-top: 8px;
  padding-bottom: 1px;
  font-family: 'Electrolize', 'Rajdhani', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.mix-art-part03 > a {
  float: right;
}

.mix-art-part03 h4 a {
  display: inline-block;
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
  color: orangered;
}

.mix-art-part03 a:hover {
  text-decoration: underline;
}

.background-small-pic {
  float: right;
  height: 96px;
  width: 96px;
  background-position: 50% 50%;
  background-size: cover;
}

.mix-art-part04 li::before {
  width: 1em;
  margin-left: -1em;
  display: inline-block;
  font-weight: bold;
  content: "\2022";
  color: orangered;
}

.mix-art-part04 li {
  padding: 8px 15px 8px 16px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.mix-art-part04 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.mix-art-part04 a:hover {
  color: black;
}

.mix-art-part04 a:visited {
  color: rgba(167, 167, 167, 0.432);
}

#mix-art-pic01 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Coronavirus-tracker-368x276.jpg");
}

#mix-art-pic02 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/01/macbook-air-aesthetics-368x276.png");
}

#mix-art-pic03 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/ai_baby_header-368x276.png");
}

#mix-art-pic04 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Amazon-Dating-Featured-368x276.jpg");
}

#mix-art-pic05 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/code-1076536_1920-368x276.jpg");
}

#mix-art-pic06 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/11/Amazon-cloud-368x276.jpg");
}

#mix-art-pic07 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/bubble-car-isetta-bmw-microlino-microletta-ev-car-new-announced-368x276.png");
}

#mix-art-pic08 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/porn-coronavirus-marketing-368x276.jpg");
}

#small-pic01 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Chrome-plain.jpg");
}

#small-pic02 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/header-image-entry-level-AirPods-Pro-Lite-FINAL.png");
}

#small-pic03 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/accessibility_header2.png");
}

#small-pic04 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/GodfallTeaser04.png");
}

#small-pic05 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/american-voting.png");
}

#small-pic06 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Tesla-model-s-range-390-miles-improve-battery-tech-drive-model-x-musk-twitter-tweet.jpg");
}

#small-pic07 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/07/robots.jpg");
}

#small-pic08 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/twitter-bot-pitching.png");
}

/* MIX ARTICLES */


.latest-deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 32px repeat(2, 1fr);
}

.latest-deals header{
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.latest-deals article {
  padding: 12px;
}

.deals-discount {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0) 50%, yellow 50%);
  z-index: 10;
  text-align: center;
  line-height: 60px;
}

.deals-discount div {
  padding-left: 10px;
  transform: rotate(45deg);
}

div[id^="latest-deals"] {
  height: 201px;
  position: relative;
}

.latest-deals span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.price-line-through {
  color: rgb(170, 170, 170);
  text-decoration: line-through;
}

.latest-deals article a:hover {
  text-decoration: underline;
  color: orangered;
}

#latest-deals-1 {
  background-image: url("https://cdnp1.stackassets.com/d70d575440dc2303f6c0f578f6546cc872eb2b6b/store/bc8a1c7c761aaedca8d2eb395cf9fccb9e15aadd0d764277c827cda8ada8/sale_26801_primary_image.jpg");
}

#latest-deals-2 {
  background-image: url("https://cdnp1.stackassets.com/4877419c5210a138309370ee75cc76f1b948bb5e/store/9b289361df25a17bb05f05f17ff941efe4c16e642b95dbc007277b0c05ad/sale_26449_primary_image.jpg");
}

#latest-deals-3 {
  background-image: url("https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg");
}

#latest-deals-4 {
  background-image: url("https://cdnp0.stackassets.com/a1b45c57042cdef1f1b897016cfde23589de621d/store/55c827cf0a6ce820b885872694c7271be3c3e8f89e91e59b2637a866fffa/sale_25748_primary_image.jpg");
}

#latest-deals-5 {
  background-image: url("https://cdnp1.stackassets.com/5e5f466abcd436434edba4f58d25c704ad06af78/store/3d0d720d0781f975608acd54d86abf1c1f6687deaa14804680bdb3d23afb/sale_26533_primary_image.jpg");
}

#latest-deals-6 {
  background-image: url("https://cdnp1.stackassets.com/4c6357549bbe196eac7a2a550f3cf2a380f39e44/store/7d5851d962ea8a62a7e9939f0efebc686b69d83821b63060d3109048021b/sale_19399_primary_image.jpg");
}

#latest-deals-7 {
  background-image: url("https://cdnp3.stackassets.com/ca8ac4cd8e0107c4584d451a1fb0ac0e5ebe6151/store/be0f2ee1b78c4393e1053fa6de7e735a05a2c49710da62971b1193c1a649/sale_26370_primary_image.jpg");
}

#latest-deals-8 {
  background-image: url("https://cdnp1.stackassets.com/b5f373f63242539de2302f03aa9498601d6a2968/store/6214a05e495b0b0a9c306989bfa8053c49cc83f6c0cb7c9cae0e22124210/product_36559_product_shots3.jpg");
}

footer {
  background-color: gainsboro;
}

#page-contacts {
  background-color: #131313;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#social-media {
  margin-bottom: 30px;
}

#social-media li {
  display: inline;
  margin: 0 6px;
}

#social-media i {
  color: white;
  height: 16px;
  width: 16px;
}

#social-media a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #555;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #555;
}

#social-media a:hover {
  background-color: #131313;
}

#more-information li {
  display: inline;
  margin: 0 5px;
}

#more-information a {
  color: white;
  text-decoration: none;
}

#partner-information {
  background-color: black;
  height: 97px;
  color: white;
  line-height: 97px;
  text-align: center;
}

#logo-tnw-footer {
  width: 37px;
  height: 10px;
}

#logo-stackpath {
  width: 65px;
  height: 10px;
}
